@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

h1{
    font-family: 'Tilt Warp', cursive;
    font-size:10vmin;
    text-align: center;
    color: white;
    background-color: rgb(210, 14, 14);
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 4vmin;
    text-align: center;
    margin: 0;
    padding: 40px 0px 3px 0;;
    color: white;
}
h3{
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    font-size: 3vmin;
    color: white;
}
p{
    font-family: 'Patrick Hand', cursive;
    color: gold;
    font-size: 3vmin;
    margin: 0;
    
}
body{
    margin: 0;
    background-color: black;
}
.parent{
    display: grid;
    /*grid-template-columns: 33% 33% 33%;*/
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-rows: 20px;
    min-height: 25vmin;
    overflow-x: scroll;

}
header {
    background-image: url('images/Drawfee-header.jpeg');
    background-size: cover;
    background-position:center center;
    height:300px;

}



.child.link li{
    margin-top: 30px;
}

section{
   padding-left: 50px;
   margin: 0;
}


article{
    margin: 8vmin;
}
footer{
    margin: 3vmin;
    margin-bottom: 5vmin;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
   
}
* {
    font-family: 'Patrick Hand', cursive;;
    box-sizing: border-box;
  }

.icon {display:none;}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 0;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    header {display:flex;max-height:200px;}
    header img{

    text-align:center;
    overflow:hidden;
    
}
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }

  .nav, .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #666;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #666;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: #efefef;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #333;
    height: 70px;
    line-height: 70px;
}
.menu-mobile a:hover {
    color: red;
}

.desktop, .menu-desktop, .menu-mobile {
        display: none;
    }
/* END OF Mobile Menu */
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* START of desktop menu for 768 media query */
    .menu-desktop {
        width: 100%;
        display: block;
        padding: 0;
        line-height: 50px;
        justify-content: space-evenly;
        flex-direction: row;
        height: 0;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu-desktop a {
        display: inline-flex;
        margin-right: 30px;
        height: 0;
        line-height: 50px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        justify-content: space-evenly;
    }
    .menu-desktop a:hover {
        color: red;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: block;
    }

    header.nav, .menu-mobile {
        display: none;
    }
    /* END of desktop menu for 768 media query */

}

  
 
