@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html{
    background: url(svg/Moomintrollbackground-04.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img{
    margin: 0;
    float: right;
}
#quote{
    position:absolute;
    
    z-index: .5;
}
.quote{
    transition: 1s ease-out;
}
.quote:hover{
transform: scale(1.5);
}
#moomintroll{
    transition: all .5s ease;
    animation-iteration-count: infinite
} /*slows down the animtion*/
#moomintroll:hover{
   transform: rotate(-10deg); /*makes it roatate*/
}
h1{
    font-family: 'Dokdo', cursive ;
    font-size: 16vmin;
    text-align: center;
    margin: 0;
    color: rgb(33, 49, 111);
}

h2{
    font-family:'Indie Flower', cursive;
    font-size: 3vmin;
   color:rgb(7, 21, 33);
    text-align: center;
    margin:0;
}
.top{
    font-size: 2vmin;
    margin: 4vmin;
}
nav ul{
    font-family:'Dokdo', cursive ;
    font-size: 4vmin;
    text-align: center;
    
 }
 
 li a{
    font-family:'Indie Flower', cursive ;
     font-size: 90px;
     color: white;


 }
